{% extends 'myapp/_layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Ajout d'une résidence{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <h1 class="section-title">Nouvelle résidence</h1>
        <form method="post" enctype="multipart/form-data" class="col-lg-5 col-sm-12">
            {% csrf_token %}
            {{ form|crispy }}

            <a href="{% url 'homepage' %}" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-primo">Ajouter</button>
        </form>
{% endblock content %}