{% extends 'myapp/_layouts/base.html' %}
{% load static %}
{% block head_title %}Accueil{% endblock %}
{% block content %}

<!-- SECTION -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="section-title">Inscrivez-vous !</h2>
                <p>
                    <i class="fas fa-quote-left"></i><br>
                    Ce service vous permet de conserver l'ensemble de vos factures d'équipements présents 
                    dans vos habitations en ligne, afin de les retrouver facilement en quelques clics.
                </p>
                <p>
                    Inventarium vous donne également quelques indications en plus sur vos équipement
                    comme leur durée de vie théorique, l'estimation de leur valeur résiduelle*.
                    <p class="text-muted small font-italic">
                        * La valeur résiduelle est égale à la valeur à neuf à laquelle est appliqué un coefficient de
                        vétusté.".
                    </p>
                    <i class="fas fa-quote-right"></i>
                </p>

                {% if user.is_authenticated %}
                <a class="btn btn-primo" href="{% url 'account' %}"><i class="fas fa-user-plus"></i>
                    S'inscrire</a>
                {% else %}
                <a class="btn btn-primo" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>
                    S'inscrire</a>
                {% endif %}

            </div>
            <div class="col-md-7 text-center">
                <p><img class="section-img" src="{% static 'img/houseCrossSection.jpg' %}"
                        alt="Image maison coupe transversale" title="Designed by vectorpouch / Freepik"></p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION EXPLAIN-->
<section class="explain">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="section-subtitle">Etape 1 : Inscrivez-vous</h3>
                <img src="{% static 'img/signup.png' %}" alt="screenshot">
                <ul class="pl-4" style="list-style-type:square">
                    <li>Remplissez le formulaire d'inscription.</li>
                    <li>Validez votre compte.</li>
                    <li>Connectez-vous.</li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h3 class="section-subtitle">Etape 2 : Configurez</h3>
                <img src="{% static 'img/residence.png' %}" alt="screenshot">
                <ul class="pl-4" style="list-style-type:square">
                    <li>Ajoutez votre ou vos résidences.</li>
                    <li>Ajoutez les pièces de vos résidences.</li>
                    <li>Puis ajoutez vos équipements.</li>
                </ul>
            </div>

            <div class="col-lg-4">
                <h3 class="section-subtitle">Etape 3 : Consultez</h3>
                <img src="{% static 'img/equipment.png' %}" alt="screenshot">
                <ul class="pl-4" style="list-style-type:square">
                    <li>Retrouvez en quelques clics et consultez facilement le détail, la facture, le mode d'emploi de vos équipements.</li>
                    <li>Vous pouvez même exporter la liste de vos équipements au format Excel.</li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}