{% extends 'myapp/_layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Mise à jour du compte{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <form method="POST" class="col-lg-5 col-sm-12">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Mettre à jour mes informations</legend>
                {{ u_form.last_name|as_crispy_field}}
                {{ u_form.first_name|as_crispy_field}}
                {{ u_form.email|as_crispy_field}}
                <p class="text-muted small">
                    Les mots de passe ne sont pas enregistrés en clair, ce qui ne permet pas d'afficher
                    le mot de passe de cet utilisateur, mais il est possible de le changer en utilisant
                    <a href="{% url 'change_password' %}">ce formulaire</a>.
                </p>
                <a href="{% url 'account' %}" class="btn btn-secondary">Annuler</a>
                <button type="button" class="btn btn-primo" data-toggle="modal" data-target="#confirmationModal">
                    Mettre à jour</button>
            </fieldset>
            <!-- Modal -->
            <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                aria-labelledby="confirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Êtes-vous sûr(e) de vouloir modifier votre compte ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-primo btn-sm">Confirmer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}