{% extends 'myapp/_layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Changer de mot de passe{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <form method="post" class="col-lg-5 col-sm-12">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-2">Changer de mot de passe</legend>
            </fieldset>
            {{ form|crispy }}
            <a href="{% url 'account' %}" class="btn btn-secondary">Annuler</a>
            <button class="btn btn-primo" type="submit">Sauvegarder les modifications</button>
        </form>
    </div>
</div>

{% endblock content %}