{% extends 'myapp/_layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Activation{% endblock %}
{% block content %}

<section class="section">
    <div class="container">
            <div class="row">
                <div class="col s12 m10 offset-m1 signup-message">
                    <h1 class="section-title">Bienvenue !</h1>
                    <p>Afin de valider votre inscription et de profiter pleinement de <b>inventarium</b>, 
                            cliquez sur le lien que nous venons de vous envoyer par email.</p>
                </div>
            </div>
    </div>
</section>


{% endblock content %}