<section id="nav-bar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="{% url 'homepage' %}">Inventarium</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about' %}">A propos</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn-outline" href="{% url 'signout' %}"><i class="fas fa-sign-out-alt"></i> Se déconnecter</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn-outline" href="{% url 'signin' %}"><i class="fas fa-sign-in-alt"></i> S'identifier</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <p class="state"> version alpha</p>
    </section>