#nav-bar {
    position: sticky;
    height: 60px;
    top: 0;
    z-index: 10;
    padding-right: 65px;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.95);
    // box-shadow: 0 0 5px rgba(34, 38, 42, 0.2);
}

.navbar-brand {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: $title-color !important;
    padding: 0 6px;
}

.nav-link {
    font-size: 14px;
    color: $muted-color !important;
    margin-left: 20px;
    padding: 7px 10px;
    float: right;
    text-align: left;
}

.nav-link:hover {
    color: $primary-color !important;
}

.navbar-toggler {
    outline: none;
}

@media only screen and (max-width:991.98px) {
    #nav-bar {
        padding-right: 0;
    }
}