$primary-color: #ed4d71;
$secondary-color: #BA1A3E;
$title-color: #2c3e50;
$text-color: #34495e;
$muted-color: #7f8c8d;

@import 'navbar';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: $primary-color;
    &:hover {
        color: $secondary-color;
    }
}

p {
    color: $text-color;
}

.wrapper {
    min-height: 100vh;
    margin: 0;
    position: relative;
}

.state {
    position: absolute;
    top: 35px;
    left: -35px;
    padding: 2px 20px;
    transform: rotate(-45deg);
    font-size: 12px;
    text-transform: uppercase;
    background-color: $title-color;
    color: #fff;
    letter-spacing: 3px;
}


.btn-outline-primo {
    background-color: #fff;
    border: 1px solid $primary-color;
    color: $primary-color !important;
    transition: 0.4s all ease;
    &:hover {
        background-color: $primary-color;
        color: #fff !important;
    }
}

.btn-primo {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
    transition: 0.4s all ease;
    &:hover {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: #fff;
    }
}

/* -------------- SECTION -------------- */
.section {
    padding: 20px 0 60px 0;
    &::before {
        content: "";
        transform: translate(-45%);
        top: 150px;
        position: absolute;
        background-image: url('../img/dots-banner.svg');
        background-repeat: no-repeat;
        width: 165px;
        height: 225px;
    }
}

.section-title {
    color: $title-color;
    &::after {
        content: '';
        background-color: $title-color;
        display: block;
        height: 4px;
        width: 40px;
        margin: 5px 0 20px 0;
    }
}

.section-subtitle {
    color: $title-color;
    padding-bottom: 10px;
}

.section-img {
    width: 80%;
    box-shadow: 0 0 15px rgba(34, 38, 42, 0.6);
    border-radius: 5px;
    margin-top: 20px;
}


/* ----------- SECTION CONTENT ----------- */
.content {
    /* position: relative; */
    padding: 10px 0 60px 0;
}

.list-equipment {
    list-style: none;
}

.list-equipment li {
    border-bottom: 1px solid #dedede;
    padding: 12px 0;
}


.table th {
    background-color: $secondary-color;
    color: #fff;
    padding: 5px;
    font-weight: 600;
}

.table td {
    padding: 10px 5px 0 5px;
}

/* ---------------- STEPS ---------------- */
.explain {
    position: relative;
    height: 100%;
    padding: 40px 0 60px 0;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        width: 400px;
        height: 1px;
        background-color: #dedede;
    }
}

.explain img {
    width: 330px;
    margin: 10px 0;
    border-radius: 2px;
    border: 1px solid $text-color;
}

/* ---------------- FOOTER ---------------- */
.footer {
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    font-size: 11px;
    color: $title-color;
}

.footer a {
    color: $title-color;
    &:hover {
        text-decoration: none;
        color: $secondary-color;
        }
    }

/* -------------- FORMS SIGNUP -------------- */
.help-text {
    font-size: 0.7em;
    color: $muted-color;
    margin-top: -14px;
  }

.sign-in {
    margin: 20px 0 20px 0;
}

.sign-in a {
    margin-right: 20px;
}

input {
    padding-left: 5px;
}
