{% extends 'myapp/_layouts/base.html' %}
{% load static %}
{% block head_title %}Tous mes équipements{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Acceuil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Recherche : {{ title }}</li>
            </ol>
        </nav>
        <h1 class="section-title">Résultat de la recherche {{ title }}</h1>
        {% if equipments %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Equipement</th>
                    <th>Marque</th>
                    <th>Modèle</th>
                    <th>Résidence</th>
                    <th>Pièce</th>
                </tr>
            </thead>
            {% for equipment in equipments %}
            <tbody">
                <tr class="clickable-row" data-href="{% url 'equipment' equipment.id %}"
                    style="cursor:pointer;height:70px;">
                    {% if equipment.picture %}
                    <td>
                        <img src="{{ equipment.picture.url }}" alt="" style="width:60px">
                    </td>
                    {% else %}
                    <td>
                        <img src="{% static 'img/noPicture.png' %}" alt="pas d'image" style="width:65px">
                    </td>
                    {% endif %}
                    <td class="align-middle">{{ equipment.name|capfirst }}</td>
                    <td class="align-middle">{{ equipment.brand|capfirst }}</td>
                    <td class="align-middle">{{ equipment.model|capfirst }}</td>
                    <td class="align-middle">{{ equipment.room.residence|capfirst }}</td>
                    <td class="align-middle">{{ equipment.room|capfirst }}</td>
                </tr>
                </tbody>
                {% endfor %}
        </table>
        {% else %}
        <p>Pas de résultat pour {{ title }}</p>
        {% endif %}
    </div>
</section>
{% endblock content %}