{% extends 'myapp/_layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Equipement(s){% endblock %}
{% block content %}

<div class="section">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Acceuil</a></li>
                <li class="breadcrumb-item"><a
                        href="{% url 'residence' equipment.room.residence.id %}">{{ equipment.room.residence.name|capfirst }}</a>
                </li>
                <li class="breadcrumb-item"><a
                        href="{% url 'room' equipment.room.id %}">{{ equipment.room|capfirst }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ equipment.name|capfirst }}</li>
            </ol>
        </nav>
        <h1 class="section-title">{{ equipment.name|capfirst }}</h1>
        <div class="row">
            <div class="col-lg-4 col-sm-12">
                {% if equipment.picture %}
                <a href="{{ equipment.picture.url }}" target="_blank">
                    <img src="{{ equipment.picture.url }}" class="img-thumbnail mb-2" alt="photo de l'équipement">
                </a>
                {% else %}
                <a href="#" title="Pas d'image">
                    <img src="{% static 'img/noPicture.png' %}" class="img-thumbnail mb-2" alt="photo de l'équipement">
                </a>
                {% endif %}
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="progress mb-0" style="height: 4px">
                    <div class="progress-bar" role="progressbar"
                        style="width: {{ lifetime }}%; background-color: #ed4d71" ; aria-valuenow="{{ lifetime }}"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="text-muted small text-right my-0">Niveau de vie théorique</p>
                <table class="table-sm mx-2">
                    <tr>
                        <td class="small font-weight-bold text-right">Marque :</td>
                        <td>{{ equipment.brand }}</td>
                    </tr>
                    <tr>
                        <td class="small font-weight-bold text-right">Modèle :</td>
                        <td>{{ equipment.model }}</td>
                    </tr>
                    <tr>
                        <td class="small font-weight-bold text-right align-top pt-2">Prix TTC :</td>
                        <td>{{ equipment.price }} €
                        <p class="text-muted small">Valeur résiduelle estimée : ~{{ wear_rate }} €</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="small font-weight-bold text-right">Date d'achat :</td>
                        <td>{{ equipment.date_purchase }}</td>
                    </tr>
                    <tr>
                        <td class="small font-weight-bold text-right align-top pt-2">Garantie :</td>
                        <td class="text-{{ state_warranty }}">{{ equipment.length_warranty }} mois
                        <p class="text-muted small my-0">Date de fin de garantie : {{ end_warranty }}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="small font-weight-bold text-right">Categorie :</td>
                        <td>{{ equipment.category }}</td>
                    </tr>
                    <tr>
                        <td class="small font-weight-bold text-right">Note :
                        <td>{{ equipment.note }}</td>
                        </td>
                    </tr>
                </table>
                <div class="mt-2">
                    {% if equipment.invoice %}
                    <a class="btn btn-outline-primo btn-sm" href="{{ equipment.invoice.url }}" target="_blank">
                        <i class="fas fa-file-pdf"></i> Facture
                    </a>
                    {% else %}
                    <span class="btn btn-outline-light bg-light border btn-sm"
                        title="Vous n'avez pas de facture enregistré">
                        <i class="fas fa-file-pdf"></i> Facture
                    </span>
                    {% endif %}
                    {% if equipment.manual %}
                    <a class="btn btn-outline-primo btn-sm" href="{{ equipment.manual.url }}" target="_blank">
                        <i class="fas fa-file-pdf"></i> Mode d'emploi
                    </a>
                    {% else %}
                    <span class="btn btn-outline-light bg-light border btn-sm"
                        title="Vous n'avez pas de mode d'emploi enregistré">
                        <i class="fas fa-file-pdf"></i> Mode d'emploi
                    </span>
                    {% endif %}
                </div>
                <hr>
                <form method="post" action="{% url 'equipment_delete' equipment.id %}">
                    {% csrf_token %}
                    <a href="{% url 'equipment_update' equipment.id %}" class="btn btn-secondary">Modifier</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmationModal">
                        Supprimer</button>

                    <!-- Modal -->
                    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
                        aria-labelledby="confirmationModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Êtes-vous sûr(e) de vouloir supprimer cet équipement ?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-sm"
                                        data-dismiss="modal">Annuler</button>
                                    <button type="submit" class="btn btn-danger btn-sm">Confirmer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock content %}