{% extends 'myapp/_layouts/base.html' %}

{% block head_title %}Erreur 404{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="text-center">
            <h1 class="font-weight-bold" style="font-size: 120px;color:#ed4d71">404</h1>
            <p>Erreur 404 - Page non trouvée !</p>
            {% if user.is_authenticated %}
                <a class="btn btn-outline-primo" href="{% url 'homepage' %}">Revenir</a>
            {% else %}
                <a class="btn btn-outline-primo" href="{% url 'index' %}">Revenir</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock content %}