{% extends 'layouts/base.html' %}

{% block head_title %}A propos{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        <h2 class="section-title">Données personnelles</h2>
        <p>Les informations vous concernant sont destinées à INVENTARIUM&copy;.<br>
            Vous disposez d'un droit d'accés, de modification, de rectification et de suppression
            des données qui vous concernent <small>(art. 34 de la loi "Informatique et Libertés")</small>.<br>
            Pour l'exercer, adressez-vous à : contact@inventarium.fr</p>

        <h2 class="section-title">Mentions légales</h2>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Serveur hébergé par : <a href="https://www.digitalocean.com/"
                    title="DigitalOcean website" target=_blank>
                    <i class="fab fa-digital-ocean"></i> DigitalOcean</a></li>
            <li class="list-group-item">Utilisation du framework Python - Django : <a
                    href="https://www.djangoproject.com/" title="Django website" target=_blank>
                    <i class="fab fa-python"></i> Django</a></li>
            <li class="list-group-item">Utilisation du framework de développement web : <a
                    href="https://getbootstrap.com/" title="Boostrap website" target=_blank>
                    <i class="fab fa-bootstrap"></i> Boostrap</a></li>
            <li class="list-group-item">Utilisation de la police d'écriture : <a href="https://fontawesome.com/"
                    title="Font Awesome website" target=_blank>
                    <i class="fab fa-font-awesome-flag"></i> Font Awesome</a></li>
            <li class="list-group-item">Utilisation du préprocesseur CSS Sass : <a href="https://sass-lang.com"
                    title="Sass website" target=_blank>
                    <i class="fab fa-sass"></i> Sass</a></li>
            <li class="list-group-item">Image sur la page d'accueil : <a href="http://www.freepik.com"
                    title="Freepik website" target=_blank>
                    <i class="fas fa-image"></i> Designed by vectorpouch / Freepik</a></li>
        </ul>
        <br>
    </div>
</div>

{% endblock content %}