{% extends 'layouts/base.html' %}
{% block head_title %}Mon tableau de bord{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="section-title">Mon tableau de bord</h1>
        {% if residences %}
        {% for residence in residences %}
            <a href="{% url 'residence' residence.0 %}" 
            class="btn btn-outline-primary btn-sm mr-2">{{ residence.1 }}
            <span class="badge badge-primary">{{ residence.2 }}</span></a>
        {% endfor %}
            <a href="{% url 'residence_add' %}"><i class="fas fa-plus-circle"></i></a>
        {% else %}
            <p>Oups! Vous n'avez aucune résidence d'enregistrée !</p>
            <a href="{% url 'residence_add' %}" class="btn btn-primo">Ajouter une résidence</a>
        {% endif %}
    </div>
{% endblock content %}