{% extends 'layouts/base.html' %}
{% block head_title %}Accueil{% endblock %}
{% load static %}
{% block content %}

<!-- SECTION -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="section-title">Inscrivez-vous !</h2>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam maiores veniam, quis,
                    ipsum
                    sapiente atque consectetur, incidunt doloribus est eaque. Perspiciatis reiciendis, aperiam
                    pariatur possimus saepe dolore libero quo.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam maiores veniam, quis,
                    ipsum
                    sapiente atque consectetur, incidunt doloribus est eaque. Perspiciatis reiciendis, aperiam
                    pariatur possimus saepe dolore libero quo.
                    <i class="fas fa-quote-right"></i>
                </p>
                <a class="btn btn-fill btn-sm" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i> S'inscrire</a>
            </div>
            <div class="col-md-7 text-center">
                <p><img class="section-img" src="{% static 'img/houseCrossSection.jpg' %}"
                        alt="Image maison coupe transversale" title="Designed by vectorpouch / Freepik"></p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION EXPLAIN-->
<section class="explain">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h2>Lorem Ipsum</h2>
                <img src="https://imgplaceholder.com/250x250" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam accusantium
                    consequuntur quia
                    labore porro maiores a amet!</p>
            </div>

            <div class="col-md-4">
                <h2>Lorem Ipsum</h2>
                <img src="https://imgplaceholder.com/250x250" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam accusantium
                    consequuntur quia
                    labore porro maiores a amet!</p>
            </div>


            <div class="col-md-4">
                <h2>Lorem Ipsum</h2>
                <img src="https://imgplaceholder.com/250x250" alt="">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam accusantium
                    consequuntur quia
                    labore porro maiores a amet!</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}