{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}Ajout d'une pièce{% endblock %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="section-title">Mise à jour de la pièce</h1>
        <form method="post" enctype="multipart/form-data" class="col-lg-5 col-sm-12">
            {% csrf_token %}
            {{ form | crispy }}
            <a href="{% url 'residence' residence.id %}" class="btn btn-secondary">Annuler</a>
            <button type="submit" class="btn btn-primo">Mettre à jour</button>
        </form>
    </div>
</section>

{% endblock content %}