{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Pièce(s){% endblock %}
{% block content %}

<section class="section">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Acceuil</a></li>
        <li class="breadcrumb-item"><a
            href="{% url 'residence' room.residence.id %}">{{ room.residence.name|capfirst }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ room.name|capfirst }}</li>
      </ol>
    </nav>
    <h1 class="section-title">Liste des équipements de : {{ room|capfirst }}</h1>
    {% if equipments %}
    <div class="card-deck">
      <div class="card" style="max-width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Ajouter un équipement</h5>
          <p class="card-tex text-center">
            <a href="{% url 'equipment_add' room.id %}" class="stretched-link" style="font-size: 120px"><i
                class="fas fa-plus-circle"></i>
            </a></p>
        </div>
      </div>
      {% for equipment in equipments %}
      <div class="card" style="max-width: 18rem;">
        <a href="{% url 'equipment' equipment.id %}">
          <img src="{% static 'img/HouseCrossSection.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ equipment.name|capfirst }}</h5>
            <p class="card-text">{{ equipment.note|truncatechars:50 }}</p>
        </a>
        <div class="card-text text-right mt-2">
          <a href="{% url 'equipment' equipment.id %}" class="btn btn-primo btn-sm">Voir</a>
          <a href="#" class="btn btn-danger btn-sm">Supprimer</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="card" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Ajouter un équipement</h5>
      <p class="card-tex text-center mt-2">
        <a href="{% url 'equipment_add' room.id %}" class="stretched-link" style="font-size: 120px"><i
            class="fas fa-plus-circle"></i>
        </a>
        <p class="text-danger">Vous n'avez aucun équipement d'enregistré pour le moment.</p>
      </p>
    </div>
  </div>
  {% endif %}
  </div>
</section>

{% endblock content %}