{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}S'identifier{% endblock %}
{% block content %}

<div class="section">
    <div class="container">
            <h1 class="section-title">Connexion</h1>
            <h2 class="section-subtitle">Se connecter à votre compte.</h2>
        <form id="login_form" method="POST" class="col-lg-5 col-sm-12">
            {{ form | crispy }}
            {% csrf_token %}
            <div class="sign-in">
                    <a href="{% url 'register' %}">
                        Pas encore enregistré(e) ? </a>
                    <button class="btn btn-primo btn-sm" type="submit"><i class="fas fa-sign-in-alt"></i> S'identifier</button>
                </div>
            <small class='text-muted ml-2'>
                <a href="{% url 'homepage' %}">Mot de passe oublié ?</a>
            </small>
        </form>
    </div>
</div>

{% endblock content %}