{% extends 'layouts/base.html' %}
{% load static %}
{% block head_title %}Conditions d'utilisation{% endblock %}
{% block content %}

<section class="section">
    <div class="container">
        <h1 class="section-title">Conditions d'utilisation</h1>
        <p>Responsable du site
            <a
                href="http://inventarium.francecentral.cloudapp.azure.com/">inventarium.francecentral.clouapp.azure.com</a>
            : Vincent Houillon</p>



        <h3 class="section-title">Données personnelles</h3>
        <p>Les informations vous concernant sont destinées à <a
                href="http://inventarium.francecentral.cloudapp.azure.com/">inventarium.francecentral.clouapp.azure.com</a>.<br>
            Vous disposez d'un droit d'accés, de modification, de rectification et de suppression
            des données qui vous concernent <small>(art. 34 de la loi "Informatique et
                Libertés")</small>.<br>
            Pour l'exercer, utilisez le formulaire de contact.</p>

        <h3 class="section-title">Conditions générales d’utilisation du site et des services proposés.</h3>
        <p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de
            maintenance technique peut être toutefois décidée par <span title="Vincent Houillon">le Responsable</span>, qui s’efforcera alors de
            communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>

        <h3 class="section-title">Description des services fournis</h3>
        <p><span title="Vincent Houillon">Le Responsable</span> s’efforce de fournir sur le site
            <a
                href="http://inventarium.francecentral.cloudapp.azure.com/">inventarium.francecentral.clouapp.azure.com</a>
            des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions,
            des
            inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des
            tiers partenaires qui lui fournissent ces informations.</p>

        <p>Le site <a
                href="http://inventarium.francecentral.cloudapp.azure.com/">inventarium.francecentral.clouapp.azure.com</a>
            est mis à jour régulièrement par <span title="Vincent Houillon">le Responsable</span>. De la même
            façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à
            l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre
            connaissance.</p>

        <p>Tous les informations indiquées sur le site <a
                href="http://inventarium.francecentral.cloudapp.azure.com/">inventarium.francecentral.clouapp.azure.com</a>
            sont données à titre indicatif,
            et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site
            <a
                href="http://inventarium.francecentral.cloudapp.azure.com/">inventarium.francecentral.clouapp.azure.com</a>
            ne sont pas exhaustifs.</p>

            <div class="text-right">
                <button class="btn btn-primo" onclick="self.close()">Fermer cette page</button>
            </div>
    </div>
</section>

{% endblock content %}