{% extends 'myapp/_layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_title %}Envoi email{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
            <div class="alert alert-info alert-dismissible">
                Un email vous a été envoyé avec les instructions !
            </div>
            <h1 class="section-title">Email envoyé</h1>
            <p>Un email "Réinitialisation du mot de passe" avec les instructions vous a été envoyé.</p>
            <p>Vous pouvez fermer cette page.</p>
    </div>
</div>
{% endblock content %}