{% extends 'myapp/_layouts/base.html' %}
{% load static %}
{% block head_title %}Accueil{% endblock %}
{% block content %}

<!-- SECTION -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 class="section-title">Inscrivez-vous !</h2>
                <p>
                    <i class="fas fa-quote-left"></i>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam maiores veniam, quis,
                    ipsum
                    sapiente atque consectetur, incidunt doloribus est eaque. Perspiciatis reiciendis, aperiam
                    pariatur possimus saepe dolore libero quo.</p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem numquam maiores veniam, quis,
                    ipsum
                    sapiente atque consectetur, incidunt doloribus est eaque. Perspiciatis reiciendis, aperiam
                    pariatur possimus saepe dolore libero quo.
                    <i class="fas fa-quote-right"></i>
                </p>

                {% if user.is_authenticated %}
                <a class="btn btn-primo" href="{% url 'account' %}"><i class="fas fa-user-plus"></i>
                    S'inscrire</a>
                {% else %}
                    <a class="btn btn-primo" href="{% url 'signup' %}"><i class="fas fa-user-plus"></i>
                        S'inscrire</a>
                {% endif %}

            </div>
            <div class="col-md-7 text-center">
                <p><img class="section-img" src="{% static 'img/houseCrossSection.jpg' %}"
                        alt="Image maison coupe transversale" title="Designed by vectorpouch / Freepik"></p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION EXPLAIN-->
<section class="explain">
    <div class="container">
        <div class="row text-center">
            <div class="col-xl-4 col-md-6">
                <h2>Lorem Ipsum</h2>
                <img src="{% static 'img/screenshot_signup.png' %}" alt="screenshot">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam accusantium
                    consequuntur quia
                    labore porro maiores a amet!</p>
            </div>

            <div class="col-xl-4 col-md-6">
                <h2>Lorem Ipsum</h2>
                <img src="{% static 'img/screenshot_signup.png' %}" alt="screenshot">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam accusantium
                    consequuntur quia
                    labore porro maiores a amet!</p>
            </div>

            <div class="col-xl-4 col-md-12">
                <h2>Lorem Ipsum</h2>
                <img src="{% static 'img/screenshot_signup.png' %}" alt="screenshot">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente laboriosam accusantium
                    consequuntur quia
                    labore porro maiores a amet!</p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}