{% load static %}
<section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'homepage' %}"><img class="logo" src="{% static 'img/favicon.png' %}"
                alt="logo"> Inventarium</a>

        <form class="form-inline" action="{% url 'search' %}">
            <div class="input-group">
                <input class="form-control " type="search" placeholder="Téléviseur..." aria-label="Search"
                name="query" id="searchForm">
                <button class="btn btn-primo btn-search" type="submit"><i class="fas fa-search"></i></button>
            </div>
          
        </form>

        {% else %}
        <a class="navbar-brand" href="{% url 'index' %}"><img class="logo" src="{% static 'img/favicon.png' %}"
            alt="logo"> Inventarium</a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">A propos</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="btn btn-outline-primo dropdown-toggle" id="navbarDropdown"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    href="#">{{ user.username }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'profile' %}">Mon compte</a>
                        <a class="dropdown-item" href="{% url 'homepage' %}">Mon tableau de bord</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'signout' %}"><i class="fas fa-sign-out-alt"></i> Se
                            déconnecter</a>
                        </div>
                        {% else %}
                        <!-- Button trigger modal -->
                        <li class="nav-item text-right ml-4">
                            <button type="button" class="btn btn-outline-primo" data-toggle="modal"
                            data-target="#loginModal">Se connecter
                        </button>
                    </li>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <p class="state"> version beta</p>
</section>